@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.bg-dark {
  background-color: $bg-dark;
  color: $text-primary-dark;
}

/* Default container: full width with some padding */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small screens (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large screens (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large screens (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Extra extra large screens (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}