$black: #000000;
$white: #ffffff;

$bg-dark: #1E2126;
$bg-light: #FFFFFF;

$text-primary-dark: #F9F9F9;
$text-primary-light: #1E1E2F;
$text-secondary-dark: #FFFFFF;
$text-secondary-light: #D6D6D6;

$green-hover: #BFDB87;
$orange: #f15C45;
