@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Jost:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.bg-dark {
  background-color: #1E2126;
  color: #F9F9F9;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

._right_1is5o_24 ul li:nth-child(2) p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* Container ширины */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 576px) {
  ._aboutUs_1r4he_1 .container h2 {
    font-size: 2rem;
  }
}
/* 💻 Планшетная адаптация */
@media (max-width: 1024px) {
  ._aboutUs_1r4he_1 .container h2 {
    font-size: 4rem;
  }
  .servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .serviceCard {
    width: 100%;
  }
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
  }
  .left,
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services h2 {
    font-size: 24px;
  }
  .services p,
  .left p {
    font-size: 16px;
    text-align: center;
  }
}
/* 📱 Мобильная адаптация */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1,
  h2 {
    font-size: 22px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ._aboutUs_1r4he_1 .container h2 {
    font-size: 3rem;
  }
  .footer {
    padding: 20px 10px;
    text-align: center;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .right {
    margin-top: 20px;
  }
  .button {
    width: 100%;
    margin-top: 10px;
  }
  .left a {
    display: inline-block;
    margin-top: 10px;
  }
  .servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .serviceCard .content {
    text-align: center;
  }
  .statistics {
    text-align: center;
  }
}
.header {
  max-width: 100%;
  padding: 0.5rem 0;
  background-image: url(../../assets/background-square.png);
  background-position: 75.7% 0;
  background-repeat: repeat-y;
  background-size: 27% auto;
  border-radius: 0 0 6.25rem 6.25rem;
  overflow: hidden;
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav img {
  width: 11rem;
}
.header .nav .call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 1px solid #404040;
  transition: transform 0.2s ease-in-out;
}
.header .nav .call:hover {
  transform: scale(1.05);
}
.header .nav .call .callContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background: #fff;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
.header .nav .call .callContent:hover {
  background-color: #BFDB87;
}
.header .content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 8rem 0;
}
.header .content .right {
  width: 45%;
}
.header .content .right h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2em;
  color: #F9F9F9;
}
.header .content .right p {
  font-size: 20px;
  font-weight: 200;
  color: #FFFFFF;
}
.header .content .right ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}
.header .content .right ul li {
  display: flex;
  align-items: center;
}
.header .content .right ul li span {
  margin-left: 1.25rem;
}
.header .content .right .rightButton {
  margin-top: 3rem;
}
.header .content .left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin-top: 2.5rem;
}
.header .content .left img {
  position: relative;
  z-index: 1;
}
.header .content .left img.backgroundColor {
  position: absolute;
  top: -5rem;
  left: 0;
  z-index: 0;
}

@media (max-width: 992px) {
  .header .content {
    flex-direction: column;
  }
  .header .content .right,
  .header .content .left {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 1rem 0;
  }
  .header .nav .call {
    width: 3rem;
    height: 3rem;
  }
  .header .nav .call .callContent {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header .content {
    margin: 1rem 0;
  }
  .header .content .right h1 {
    font-size: 2.5rem;
  }
  .header .content .right p {
    font-size: 18px;
  }
  .header .content .left {
    margin-top: 1rem;
  }
  .header .content .left img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header .content .nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header .content .right h1 {
    font-size: 2rem;
  }
  .header .content .right p {
    font-size: 16px;
  }
  .header .content .left {
    margin-top: 1rem;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .header .content {
    margin: 0.5rem 0;
  }
  .header .right h1 {
    font-size: 1.25rem; /* Reduce h1 size for very small screens */
  }
  .header .right p {
    font-size: 12px; /* Reduce paragraph size */
  }
  .header .left {
    margin-top: 0.5rem;
  }
  .header .left img {
    width: 100%; /* Ensure the image fits well */
    height: auto;
  }
}/*# sourceMappingURL=Header.module.css.map */